# pip install -r requirements.txt
# base ----------------------------------------
matplotlib
numpy    
Pillow
PyYAML>=5.3.1
torch 
torchvision>=0.8.1
tqdm>=4.41.0
# addtions  ----------------------------------------
flask
requests
Werkzeug==1.0.0
pathlib
Frozen-Flask==0.15
